.App {
  text-align: center;
}

/* ---------Project page---------- */
.pic {
  width: 40%;
  height: 40%;
  border: 3px solid palegoldenrod;
  box-shadow: 0 10px 10px 0 rgba(250,68,84,0.47), 0px 7px 20px 0 rgba(167,247,216,0.562);
}

/* .link{
  margin: 30px auto;
  position: relative;
  display: flex;
} */

.link button {
  position: relative;
  font-size: 16px;
  text-align: center;
  border-radius: 12px;
  background-color: mintcream;
  transition-duration: 0.4s;
  padding: 0 10px 0 10px;
  border: 1px solid rgba(177,93,107,255);
  justify-content: space-around;
}

.link button:hover {
  background-color: rgba(71,103,201,255);
  color: mintcream;
  
}

.proj {
  font-size: 30px;
  color: #446ccf;
  /* text-align: center; */
  text-shadow: 0 0 8px #ffcc33, 0 0 10px #92a1cf;
}

/* .MainProj{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  contain: content;
} */

/* .projects{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 50%;
  max-width: 100%;
  margin: 0px auto;
  justify-content: space-between;
  justify-content: center;
  contain: content;
} */

.projects{
  width: 100%;
  display: inline;
}

/* ----------------------------- */

/* ---------Links---------- */
a{
  text-decoration: none;
  cursor: pointer;
  color: rgba(199,108,116,0.9);

}

a:visited{
  color: rgba(199,108,116,0.9);
}
/* ------------------------ */

/* ---------Abt/Home page---------- */
.body{
  margin: 20px 0;
}

.bio{
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Baloo 2', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5d89ba;
}

#title{
  font-family: 'satisfy', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  color: #5d89ba;
}

.me{
  width: 200px;
  height: 260px;
  margin: 0 0 20px 0;
  border: 1px solid palevioletred;
}
/* -------------------------------- */

/* ---------Footer---------- */
footer {
  position: relative;
  bottom: 0;
  /* margin-top: 30px; */
}

#mail, #git, #link{
  /* padding: 50px; */
  /* background-color: rosybrown; */
  transition: transform .2s;
  width: 20px;
  /* height: 200px; */
  margin: 0 auto;
}

#link:hover{
  transform: scale(1.5);
}
#git:hover{
  transform: scale(1.5);
}
#mail:hover{
  transform: scale(1.5);
}

#contact{
  font-family: 'satisfy', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: #ffcc33;
}

#cpr{
  font-family: 'Merienda', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5d89ba;
}
/* -------------------------- */

/* ---------Header---------- */
.home, .res, .pro {
  margin: 55px 0 0;
  transition: transform .2s;
  font-family: 'Merienda', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pro:hover{
  transform: scale(1.5);
}
.res:hover{
  transform: scale(1.5);
}
.home:hover{
  transform: scale(1.5);
}

#name{
  font-family: 'Eczar', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffcc33;
  font-size: 37px;
}
/* -------------------------- */

/* ---------Resume page---------- */
.resImg{
  width: 40%;
  height: 40%;
  margin: 20px 315px;
}

.bkg{
  background-color: mintcream;
}

.resbtn{
  position: relative;
  font-size: 16px;
  text-align: center;
  border-radius: 12px;
  background-color: mistyrose;
  transition-duration: 0.4s;
  padding: 0 10px 0 10px;
  border: 1px solid rgba(177,93,107,255);
  justify-content: space-around;
}

.resbtn:hover{
  background-color: cadetblue;
  color: rgb(243, 196, 211);
  border: 1px solid rgb(243, 196, 211)
}
/* ------------------------------ */

